<div class="side__menu d-flex" [class.show]="show">
    <div class="social__bar d-flex p-5 align-items-end">
        <img src="../../../../assets/images/Socialmediawhite.png" alt="">
    </div>
    <div class="navigation__area flex-grow-1 px-5 py-4 d-flex flex-column justify-content-between">
        <ul class="list-unstyled">
            <li class="active">
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="">About us</a>
                <ul class="list-unstyled">
                    <li><a routerLink="">who are us?</a></li>
                    <li><a routerLink="">Why us?</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="">News</a>
                <ul class="list-unstyled">
                    <li><a routerLink="">News</a></li>
                    <li><a routerLink="">Events</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="">Careers</a>
                <ul class="list-unstyled">
                    <li><a routerLink="">Opportunities</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                <a routerLink="">Contact us</a>
            </li>
            <li>
                <a routerLink="">Site Map</a>
            </li>
        </ul>
    </div>
</div>