.picsum-img-wrapper {
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(117 117 117 / 48%);
  z-index: 0;
  h1 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    letter-spacing: 1px;
  }
}


@media only screen and (max-width: 768px) {
  .carousel-caption {
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
  }
}